.one {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    animation: type 4s steps(21);
    white-space: nowrap;
    overflow: hidden;
    width: 21ch;
}


@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 21ch;
    }
}


.one {
    font-family: cursive;
    font-size: 500%;
    color: aqua;
    text-shadow: 5px 5px 5px cadetblue;
}


p {
    color: tomato;
    text-shadow: 3px 3px 3px brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    width: 50%;
}


img {
    width: 40%;
    height: 30%;
    margin-top: -70%;
    margin-left: 60%;
}